* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}

[data-theme="light"] {
  --color-bg: #ffffff;
  --color-fg: #000000;
  --color-ac: #0205cc;
  --color-sec: #f0f0f0;
  --color-glass: rgba(255, 255, 255, 0.31);
}

[data-theme="dark"] {
  --color-bg: #000000;
  --color-fg: #ffffff;
  --color-ac: #0205cc;
  --color-sec: #0c0c0c;
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
}

header {
  background-color: var(--color-ac);
}

.logo {
  text-decoration: none;
  color: var(--color-bg);
  font-size: clamp(3rem, -4.6875rem + 25vw, 6rem);
}

.logo:hover {
  color: var(--color-fg);
}

.navBar {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

.navMenu {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  background-color: var(--color-ac);
  align-items: end;
}

.navItem {
  list-style: none;
  text-align: end;
}

.navLink {
  text-decoration: none;
  color: var(--color-bg);
  font-size: clamp(40px, 5vw, 2rem);
}

.navLink:hover {
  color: var(--color-fg);
}

.darkModeBtn {
  font-size: clamp(40px, 5vw, 2rem);
  transition: all var(--global-transition-time) ease-in-out;
  cursor: pointer;
  color: var(--color-bg);
  background-color: transparent;
  border: none;
  border-bottom: solid;
}

.darkModeBtn:hover {
  color: var(--color-fg);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  height: 3px;
  width: 35px;
  margin: 0.3rem;
  background-color: var(--color-bg);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* .line {
  height: 5px;
  width: 100%;
  background-color: #0205cc;
} */

main {
  padding: 1rem 2rem;
}

.heroTitle,
.accentColor {
  font-size: clamp(4.2rem, -4.6875rem + 25vw, 12.25rem);
}

.accentColor {
  color: var(--color-ac);
}

.exerciseSection {
  background-color: var(--color-sec);
  padding: 2rem;
}

.excercise:nth-child(1) {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 2rem;
  gap: 50px;
}
.text {
  font-size: clamp(20px, 5vw, 2rem);
}

.excercise:nth-child(2) {
  height: 85vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.btn:nth-child(2) {
  width: 250px;
}

.btn {
  font-size: clamp(20px, 5vw, 2rem);
  transition: all var(--global-transition-time) ease-in-out;
  cursor: pointer;
  color: var(--color-fg);
  background-color: transparent;
  border: none;
  border-bottom: solid;
  margin-top: 1rem;
}

.worldTitle {
  width: 100%;
}

.colorBox {
  width: 100vw;
  height: 200px;
  background-color: rgba(93, 103, 255, 0.233);
}

.navMenu.active {
  left: 0;
}

body.active {
  overflow: hidden;
}

/* Game section */

.gameSection {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.gameSectionTitle {
  font-size: clamp(2.2rem, -5.6875rem + 10vw, 4.25rem);
  padding: 5rem;
}

.gameBox {
  width: 50vw;
  background-color: var(--color-sec);
  padding: 0 7rem;
  padding-bottom: 7rem;
  padding-top: 2rem;
  border-radius: 20px;
  box-shadow: 5px 5px 5px var(--color-fg);
}

#questText {
  font-size: clamp(2.2rem, -5.6875rem + 10vw, 3.25rem);
  margin-bottom: 3rem;
  color: var(--color-fg);
}

.buttonGrid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
  justify-content: center;
}

.gameBtn {
  font-size: clamp(2.2rem, -5.6875rem + 10vw, 3.25rem);
  background-color: var(--color-bg);
  color: var(--color-fg);
  border: none;
  padding: 1.5rem 1rem;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navMenu {
    position: fixed;
    left: -150%;
    top: 97px;
    width: 100vw;
    transition: 0.3s;
    height: 100vh;
    background: var(--color-glass);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }

  .navItem {
    margin: 5px 25px;
  }

  .navLink {
    color: var(--color-fg);
  }

  .darkModeBtn {
    margin: 0;
    font-weight: normal;
    transition: all var(--global-transition-time) ease-in-out;
    cursor: pointer;
    color: var(--color-fg);
    margin: 0px 25px;
  }

  main {
    height: 90vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .excercise:nth-child(1) {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
  .excercise:nth-child(2) {
    height: 80vh;
  }

  .gameBox {
    width: 85vw;
  }
  .gameBtn {
    padding: 1rem 2.5rem;
  }
}
