* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[data-theme="light"] {
  --color-bg: #ffffff;
  --color-fg: #000000;
}

[data-theme="dark"] {
  --color-bg: #000000;
  --color-fg: #ffffff;
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
}

header {
  background-color: var(--color-fg);
}

.logo {
  text-decoration: none;
  color: var(--color-bg);
  font-size: clamp(20px, 5vw, 2rem);
}

.navBar {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

.navMenu {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  background-color: var(--color-fg);
  align-items: end;
}

.navItem {
  list-style: none;
  text-align: end;
}

.navLink {
  text-decoration: none;
  color: var(--color-bg);
  font-size: clamp(20px, 5vw, 2rem);
}

.darkModeBtn {
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  transition: all var(--global-transition-time) ease-in-out;
  border-radius: 2rem;
  cursor: pointer;
  color: var(--color-fg);
  background-color: var(--color-bg);
  border: none;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  height: 3px;
  width: 35px;
  margin: 0.3rem;
  background-color: var(--color-bg);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navMenu {
    position: fixed;
    left: -100%;
    top: 80px;
    width: 100vw;
    transition: 0.3s;
    height: 100vh;
    background-color: var(--color-bg);
  }

  .navItem {
    margin: 5px 25px;
  }

  .navLink {
    color: var(--color-fg);
  }

  .darkModeBtn {
    font-size: 1rem;

    margin: 0;
    font-weight: normal;
    transition: all var(--global-transition-time) ease-in-out;
    border-radius: 2rem;
    cursor: pointer;
    color: var(--color-fg);
    background-color: var(--color-bg);
    border: none;
    margin: 0px 15px;
  }
}

.navMenu.active {
  left: 0;
}

body.active {
  overflow: hidden;
}

/* div {
  background-color: rgba(144, 238, 144, 0.466);
  width: 250px;
  height: 250px;
  margin: 1rem 0rem;
}

.box {
  width: 100px;
  height: 100px;
  background-color: rgba(93, 103, 255, 0.233);
} */
